body {
  background: url(./img/pexels-vadim-koza-10819890.jpg) fixed center/cover;
  height: 100vh;
}

.container {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 90px;
  max-width: 90%;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}